{% extends 'base.html' %}

{% block title %}TerrorCTF{% endblock %}

{% block content %}
    <h1>TerrorCTF</h1>
    <h2>Contest Information</h2>
    <p>
        <b>Start</b>: Saturday, February 3rd, 2024 at 2pm PST
    </p>
    <p>
        <b>End</b>:   Sunday, February 4th, 2024 at 5pm PST
    </p>
    <p>
        <b>Discord Server</b>: <a href="https://discord.gg/3AHZweXTCc">https://discord.gg/3AHZweXTCc</a>
    </p>

    <h2>Contest Rules</h2>
    <ol>
        <li>Don't talk with other teams about the problems during the contest (i.e. don't cheat).</li>
        <li>Teams can have up to 4 people.</li>
        <li>Don't attempt to break the main website itself.</li>
        <li>Don't attempt to break out of the jail on the images.</li>
        <li>Have fun!</li>
    </ol>

    <h2>How to Participate</h2>
    <p>
        Talk with up to 3 other people to form a team (or you can solo but it might not be as fun). Each person should create an account. Then, one person should go to their profile, then press "Create a Team". A team ID will be generated. Other participants can go their profile, press "Join a Team", and type in that team ID to join the team.
    </p>
    <p>
        On the day of the contest, press the "problems" link. You will see all the problems for the contest.
    </p>
{% endblock %}